<div class="content_top">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm6">
            <div class="latest_slider">
                <div class="slick_slider">
                    <div class="single_iteam">
                        <img src="~/Assets/Images/550x330x1.jpg" alt="">
                        <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                    </div>
                    <div class="single_iteam">
                        <img src="~/Assets/Images/550x330x2.jpg" alt="">
                        <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                    </div>
                    <div class="single_iteam">
                        <img src="~/Assets/Images/550x330x3.jpg" alt="">
                        <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                    </div>
                    <div class="single_iteam">
                        <img src="~/Assets/Images/550x330x4.jpg" alt="">
                        <h2><a class="slider_tittle" href="pages/single.html">Fusce eu nulla semper porttitor felis sit amet</a></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm6">
            <div class="content_top_right">
                <ul class="featured_nav wow fadeInDown">
                    <li>
                        <img src="~/Assets/Images/300x215x1.jpg" alt="">
                        <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                    </li>
                    <li>
                        <img src="~/Assets/Images/300x215x2.jpg" alt="">
                        <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                    </li>
                    <li>
                        <img src="~/Assets/Images/300x215x3.jpg" alt="">
                        <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                    </li>
                    <li>
                        <img src="~/Assets/Images/300x215x4.jpg" alt="">
                        <div class="title_caption"><a href="pages/single.html">Sed luctus semper odio aliquam rhoncus</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>